.video_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
  }
  
  .fullscreen_video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }